<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(CustomProductName)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.08</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>YuDaoWidget</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>YuDaoWidget</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wb2548781475</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>QQ41EC6F9D</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent1106014109</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx0e255252ca6a45b9</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>YDAlipay</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.ve-link.YuDaoApp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ydweb</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.21</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>iosamap</string>
		<string>baidumap</string>
		<string>sinaweibo</string>
		<string>sinaweibohd</string>
		<string>sinaweibosso</string>
		<string>sinaweibohdsso</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
		<string>wechat</string>
		<string>weixin</string>
		<string>mqzoneopensdk</string>
		<string>mqzoneopensdkapi</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapiV2</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>wtloginmqq2</string>
		<string>mqqapi</string>
		<string>mqqwpa</string>
		<string>mqzone</string>
		<string>mqq</string>
		<string>mqqopensdkapiV4</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>如果不允许，你将无法发送在聊天、发布动态中发送视频给朋友</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>遇道需要你的同意,才能访问蓝牙</string>
	<key>NSCalendarsUsageDescription</key>
	<string>遇道需要你的同意,才能访问日历</string>
	<key>NSCameraUsageDescription</key>
	<string>如果不允许，你将无法在遇道中拍摄照片，也无法使用扫描二维码等功能</string>
	<key>NSContactsUsageDescription</key>
	<string>遇道需要你的同意,才能访问通讯录。遇道仅使用特征码识别，不会保存你的通讯录内容</string>
	<key>NSHealthShareUsageDescription</key>
	<string>遇道需要你的同意,才能访问健康分享</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>遇道需要你的同意,才能访问健康更新</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>如果不允许，你将无法在动态中分享你的位置，也无法使用逛一逛附近动态、刷脸等功能</string>
	<key>NSLocationUsageDescription</key>
	<string>如果不允许，你将无法在动态中分享你的位置，也无法使用逛一逛附近动态、刷脸等功能</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>如果不允许，你将无法在动态中分享你的位置，也无法使用逛一逛附近动态、刷脸等功能</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>如果不允许，你将无法在聊天中发送语音消息</string>
	<key>NSMotionUsageDescription</key>
	<string>遇道需要你的同意,才能访问运动与健身</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>如果不允许，你在遇道所拍摄照片都无法存储到相册</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>如果不允许，你将无法发送在聊天、发布动态中发送相册里的照片给朋友</string>
	<key>NSRemindersUsageDescription</key>
	<string>遇道需要你的同意,才能访问提醒事项</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
